
div h1{
    margin: 20px;
    text-align: center
}

div p {
    margin: 30px;
    font-size:20px; 
    text-align: center;
}

img {
    width: 100%;
    display: block;
}
    
@media screen and (max-width: 1100px){

    img {
        width: 100%;
        display: block;
        padding-top: 70px;
    }
}
