html, body {
 margin: 10px;
 padding: 10px;
 }
body {
 background-color: #000100; 
 font-family: Helvetica, Verdana, sans-serif; 
 font-size: 100%;
 }
h1 {
 font-size: 200%; 
 color: #94C5CC; 
 text-align: center;
 }
h2 {
 font-size: 150%; 
 color: #A1A6B4; 
 padding-left: 15px;
 }
p,ul,li,td {
 color: #B4D2E7; 
 }
a:link {
 color: #F8F8F8;
 text-decoration: underline;
 }
a:visited {
 color: #F8F8F8;
 }
a:hover {
 color: #F8F8F8;
 text-decoration: none;
}
a:active, a:focus {
 color: #F8F8F8;
}
