

.image_cote_gauche{
    display: flex;
    flex-wrap: wrap;
    margin : 0%;
    background-color: antiquewhite;
    margin-top: 5%;
    margin-bottom: 5%;
}

.image_cote_droite{
    display: flex;
    flex-wrap: wrap;
    margin : 0%;
    background-color: antiquewhite;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 0%;
}


.modeflex{
    display: flex;
    flex-wrap: wrap;
}
.image_principale{
    width: 75%;
	height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texte{
    margin-bottom: auto;
    margin-top: auto;
    width: 50%;
    height: 50%;
    padding: 20px;
    font-size: 15px;
}
.image_secondaire_cote_gauche{
    margin-left: auto;
    display: block;
}
