.partie{
    margin-left: 20px;
    margin-right: 600px;
    background-color:antiquewhite;
}

.image_cote_gauche{
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 0;
}

.image_cote_droite{
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 0;
}

.image_principale{
    width: 75%;
    height: 75%;
    display: block;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.texte{
    margin-bottom: auto;
    margin-top: auto;
    width: 50%;
    height: 50%;
    margin-left: 40px;
    font-size: 15px;
    text-align: justify;
}

.texte b{
    font-size: 20px;
}

.image_secondaire_cote_gauche{
    margin-left: auto;
    display: block;
    width: 40%;
    height: 90%;
}

.intro{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    padding: 2%;
}

.video{
    text-align: center;
    margin: 2%;
}

.image{
    width: 40%;
    height: 90%;
}

.titre{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.table-style  {
    border-collapse: collapse;
    min-width: 400px;
    cursor: pointer;
    margin: 20px auto;
    border: 2px solid #394053;
}

thead tr{
    background-color: #839073 ;
    text-align: center;
}

th, td{
    background-color: #9eca9c;
    text-align: center;
    padding: 15px 20px;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}
