*{
    margin: 0;
    padding: 0;
}
.partie{
    margin-left: 20px;
    margin-right: 50%;
    background-color:antiquewhite;
} 

.image_cote_gauche{
    display: flex;
    flex-wrap: wrap;
    margin : 0%;
    background-color: antiquewhite;
    margin-top: 5%;
    margin-bottom: 5%;
}

.image_cote_droite{
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin : 0%;
    background-color: antiquewhite;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 0%;
}

.image_principale{
    width: 75%;
	height: 75%;
    display: block;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.texte{
    margin-bottom: auto;
    margin-top: auto;
    width: 50%;
    height: 50%;
    margin-left: 40px;
    font-size: 110%; 
    text-align: justify;
}

.texte b{
    font-size: 20px;
}

.titre{
    font-size: 20px;
}

.image_secondaire_cote_gauche{
    margin-left: auto;
    display: block;
    width: 40%;
    height: 90%;
}

.intro{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    padding: 2%;
}

.div-video-body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video{
    width: 85%;
}

.video iframe{
    aspect-ratio: 16/9;
}

.image{
    width: 40%;
    height: 90%;
}

.table-style  {
    border-collapse: collapse;
    min-width: 400px;
    cursor: pointer;
    margin: 20px auto;
    border: 2px solid #394053;
}

thead tr{
    background-color: #839073 ;
    text-align: center;
}

th, td{
    background-color: #9eca9c;
    text-align: center;
    padding: 15px 20px;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

@media screen and (max-width: 1100px){
    
    .div-video-body{
        height: 35vh;
    }
    th, td{
        padding: 30px 20px;
    }
    
    .intro{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: antiquewhite;
        padding: 2%;
        font-size: 40px;
    }

    .texte{
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left:  auto;
        margin-right:  auto;
        width: 90%;
        height: 90%;
        font-size: 40px;
        text-align: justify;
    }

    .texte b{ 
        font-size: 60px;
    }
    
    .image_cote_gauche{
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .image_secondaire_cote_gauche{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .image_cote_droite{
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .image{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    

}
